<div id="carousel" class="carousel carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item playing loader">
      <video height="870" preload="auto" autoplay muted class="d-block mx-auto h-auto w-100">
        <source src="/videos/pila.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
      </video>
    </div>
    @* <div class="carousel-item">
      <video height="870" muted class="d-block mx-auto w-100">
      <source src="/videos/IMG_1881.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
      </video>
      </div>
      <div class="carousel-item">
      <video height="870" muted class="d-block mx-auto w-100">
      <source src="/videos/IMG_1882.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
      </video>
      </div>*@
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
