<div id="carousel" class="carousel carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item playing">
      <video height="880" preload="auto" autoplay muted playsinline class="d-block w-100">
        <source src="/videos/IMG_1881_s.mp4" type='video/mp4' />
      </video>
    </div>
    <div class="carousel-item">
      <video height="880" preload="metadata" muted playsinline class="d-block w-100">
        <source src="/videos/IMG_1882_s.mp4" type='video/mp4' />
      </video>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
