<div id="info" class="text-center">
    <img src="~/img/logo.png" width="200" />
    <h3 class="text-center">Авторизация</h3>
    @* <p class="text-center">Ingrese usuario y contraseña</p>*@
    <form id="form-login" class="text-start">
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input id="email" class="form-control" type="text" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Пароль</label>
            <input id="password" class="form-control" type="password" />
        </div>
        <button id="btn-sesion" class="btn btn-primary" type="submit" style="--bs-primary: #256db4;--bs-primary-rgb: 37,109,180;background: #256db4;">Войти</button>
    </form>
</div>