@using System.Reflection
@model List<object>

@{
    var properties = Model.First().GetType().GetProperties().Where(p => p.GetCustomAttribute(typeof(TableAttribute)) != null).ToList();
}

<div class="table-responsive" id="table_@Model.First().GetType().Name">
    <table class="table table-sm table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">№</th>
                @foreach (PropertyInfo prop in properties)
                {
                    var val = prop.GetCustomAttribute<TableAttribute>()?.ColumnName;
                    <th scope="col">@val</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                int index = 1;
            }
            @foreach (object item in Model)
            {
                <tr style="position:relative">
                    <th scope="row">
                        <a style="position: absolute;left:0; right: 0;top: calc(50% - 0.75em);bottom: 0;text-align:start" href="@Url.ActionLink(Model.First().GetType().Name, values: new { id = item.GetPropertyValue("id")})">@index</a>
                    </th>
                    @foreach (PropertyInfo prop in properties)
                    {
                        var val = item.GetPropertyValue(prop.Name) == null ? "" : item.GetPropertyValue(prop.Name);
                        <td>@val</td>
                    }
                </tr>
                index++;
            }
        </tbody>
    </table>
</div>
