<div class="row">
  <h1 class="text-center">@ViewData["Title"]</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>
        ООО "ЯКУТСА"
        <br />
        Номер счета: 40702810902860010663
        <br />
        ИНН: 9725040790
        <br />
        ОГРН: 1207700466324
        <br />
        КПП: 772501001
        <br />
        Юридический адрес: 115419, РОССИЯ, г. Москва, Проезд Рощинский 2-й, д. Д. 8, квартира/офис Э/ПОМ 12/XVII
        <br />
        Телефон: +7 999 003 1000
        <br />
        Email: info@yakutsa.ru
        <br />
        <br />
        Реквизиты АО "АЛЬФА-БАНК"
        <br />
        БИК: 044525593
        <br />
        К/с: 30101810200000000593 в ГУ БАНКА РОССИИ ПО ЦФО
      </p>
    </div>
  </div>
</div>

