<div class="row">
  <div class="col-xl-12 mx-auto">
    <p>
      @*      <br>
        — Бесплатная доставка осуществляется по территории города Курска при заказе на сумму от 3000 руб.;
        <br>
        — Если сумма заказа манее 3000 руб. стоимость доставки по городу Курску составляет 300 руб.;
        <br>
        — C 26-го декабря по 30-е декабря стоимость доставки состовляет 400 руб. независимо от суммы заказа;
        <br>
        — 31-го декабря доставка осуществляется по предварительной договоренности;
        <br>
        — Стоимость доставки за пределы города составляет 15 рублей за 1 километр от черты города;
        <br>
        — Доставка производится в день заказа, если заказ оформлен до 17-00;
        <br>
        — Заказы оформленные после 17-00 Вы сможете получить на следующий день.
      *@
    </p>
  </div>
</div>