<div class="container">
  <div class="row">
    <h1 class="text-center">@ViewData["Title"]</h1>
  </div>
  <div class="row text-content">
    <div class="col-xl-12 mx-auto">
      <p>
        После оплаты товара мы начинаем его производство. Срок производства зависит от наличия комплектующих и занимает от 5 до 30 дней, по завершению производства заказ передается в службы доставки.
        <br>
        <br>
        Доставка по Москве (в пределах МКАД) <br>
        •Почтой России - бесплатно <br>
        •Курьером CDEK - бесплатно <br>
        •Яндекс курьер - по запросу
        <br>
        <br>
        Доставка по Москве (за пределами МКАД) <br>
        •Почтой России - бесплатно <br>
        @*  •Курьером CDEK - 250 руб. <br>*@
        •Яндекс курьер - по запросу
        <br>
        <br>
        Доставка в Регионы <br>
        •Почтой России - бесплатно <br>
        •Курьером CDEK - по запросу
        <br>
        @*  Доставка в другие страны
          •Почтой России EMS (30-60 дней) - как Рус подключит модуль расчёта стоимости
          •DHL (5-10 дней) - как Рус подключит модуль рассчета стоимости*@
      </p>
    </div>
  </div>

</div>
