<div class="row pt-5">
  <div class="col-md-12">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr />
    <br />
  </div>
</div>
<div class="row">
  <div class="col-xl-12 mx-auto">
    <h4 class="text-center">Возврат и обмен товара надлежащего качества</h4>
    @*    <p>
      Вы вправе отказаться от товара в любое время ДО его передачи Перевозчику, а после передачи — в соответствии с
      <a href="http://www.consultant.ru/document/cons_doc_LAW_305/" target="_blank">законом о защите прав потребителей</a>, а также
      <a href="http://www.consultant.ru/document/cons_doc_LAW_71418/cec011b240d930e3ba04a9e26bc38d7c4c5f2def/" target="_blank">о дистанционной торговле</a>.
      <br>
      <br>Возврат товара
      <b>надлежащего качества</b> возможен в случае, если сохранены его товарный вид и потребительские свойства:
      <br>
      — Товар не был в употреблении, нет следов инициации изделия;
      <br>
      — Защитная наклейка на фитиле не повреждена;
      <br>
      — Упаковка сухая и не имеет дефектов;
      <br>
      — Товар не имеет запаха сырости;
      <br>
      — Товар не имеет следов попадания прямых солнечных лучей (выцветание упаковки).
      </p>
      <p>
      <span style="color: red">
      Срок для заявления о возврате:
      <b>не позднее 7 календарных дней</b> после передачи товара (для этого необходимо оформить претензию, запросите бланк претензии по телефону <b>+7 (4712) 32-70-35</b>).
      </span>
      </p>*@
  </div>

  <div class="col-xl-12 mx-auto">
    <hr />
    <br />
    <h4 class="text-center">Возврат и обмен товара не надлежащего качества</h4>
    @* <p>
      Пиротехнические изделия НЕ НАДЛЕЖАЩЕГО КАЧЕСТВА заменим на аналогичные в соответствии с законом о "Защите прав потребителей".
      </p>
      <br />
      </div>
      <div class="col-xl-12 mx-auto">
      <hr />
      <br />
      <h4>Возврат оплаты при дистанционной торговле (при оплате картой на сайте)</h4>
      <br />
      <p class="">Для возврата <b style="color:red">в день оплаты ДО момента отправки заказа</b>  позвоните по телефону <b>+7 (4712) 32-70-35</b>, достаточно назвать ФИО, номер заказа или телефона.</p>
      <p class="">Возврат после передачи товара происходит в течение <b>7 дней</b>, для этого необходимо:<br>— оформить претензию;<br>— указать ФИО, номер заказа, сумму;<br>— чтобы получить оплату назад, карта или счет, с которого была произведена оплата, НЕ должны быть заблокированы.<br><span style="color: red">ВАЖНО: возврату подлежит сумма, уплаченная Покупателем в соответствии с Заказом, за исключением расходов Продавца на доставку возвращенного товара от Покупателя до склада Продавца, не позднее чем через 10 дней с даты предъявления Покупателем соответствующего требования.</span></p>*@
  </div>
</div>

