#retailcrm-consultant-app {
    right: auto !important;
    left: 10px !important;
}

.window.window_left-bottom {
    left: 10px !important;
    background-color: transparent !important;
}

.window_mobile {
    top: auto !important;
    max-height: 95vh !important;
    max-width: 95vw !important;
    left: 0 !important;
}

.window__footer {
    border-top: 1px solid var(--main-border-color) !important;
    border-color: var(--main-border-color) !important;
}

.consultant-widget-wrap {
    right: auto !important;
    left: 0 !important;
}

.window-list, .window .form {
    background-color: var(--main-content-bg-color) !important;
}

.consultant-header, .form .base-button {
    background-color: var(--main-bg-color) !important;
}

.message-content * {
    color: var(--main-text-color) !important;
}

.message__row * {
    background-color: var(--body-bg-color) !important;
    border-radius: 10px !important;
}


.form__input {
    border: 1px solid #fff;
    background-color: transparent !important;
}

    .form__input textarea {
        color: var(--main-text-color) !important;
    }

.form .base-button:hover {
}

.consultant-icon {
    background-color: transparent !important;
}


.messengers__wrap .messengers__item::after {
    left: -10px !important;
    width: 50px !important;
    height: 50px !important;
}

.consultant-icon_opened {
    transform: scale(.5);
}

.messengers__wrap .messengers__item_consultant::after {
    background-color: var(--main-bg-color) !important;
    background-size: 30px !important;
}


.messengers__wrap .messengers__item:hover {
    transform: scale(1) !important;
}


.contact-form__area, .contact-form {
    background-color: transparent !important;
    color: var(--main-text-color) !important;
}

.contact-form__row_btn {
    text-align: center !important;
}


.message__row, .message-content {
    border-radius: 10px !important;
}


.contact-form-wrap {
    padding: 0 50px 0 40px !important;
}
